<a href="https://colab.research.google.com/github/ACRainieri/pyspark/blob/main/Copy_of_funcoes_spark_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Encontrando o último caracter da palavra.

In [ ]:


result = lambda n: n**2

result(9)

ultimo_reg = lambda s: s[-1]

ultimo_reg("VAGAS_WA")

'A'

In [ ]:
#verificar par ou impar
impar = lambda i: i%2 > 0

impar(4)

False

In [ ]:
result = lambda x: x> 10

result(11)

True

In [ ]:
lista = [1,3,6,4,8,23,2]

r = lambda dobro: dobro * 2

r(lista)

[1, 3, 6, 4, 8, 23, 2, 1, 3, 6, 4, 8, 23, 2]

In [ ]:
r=lambda x, y: x+y
r(2,5)

7

Ordenando Inversamente - Inverse Order

In [ ]:
ordem_inversa = lambda i: i [::-1]
ordem_inversa("escrevendo ao contratio")

'oitartnoc oa odnevercse'

In [ ]:
lista=[1,2,3,4,5,6,7,8,9,10, 37]
print(lista)
type(lista)

lst =[]

for i in lista:
  n = i * 2
  lst.append(n)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 37]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 74]

List Comprehencion - elevando ao quadrado todos os itens de uma lista ao quadrado

In [ ]:
l = [item ** 2 for item in lista]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 1369]

Contando palavras com List Comprehension

In [ ]:
frases = [
          "Tenho em mim todos os sonhos do mundo.",
          "Somos do tamanho de nossos sonhos.",
          "O coração se pudesse pensar pararia.",
          "O amor é um sono que chega para o pouco ser que se é.",
          "Ler é sonhar pela mão de outrem.",
          "Todo o homem de ação é essencialmente animado e otimista porque quem não sente é feliz.",
          "O esforço é grande e o homem é pequeno.",
          "Minha alma está cansada da minha vida.",
          "Nenhum livro para crianças deve ser escrito para crianças.",
          "Quanto mais fundamente penso, mais profundamente me descompreendo.",
          "Tudo o que chega, chega sempre por alguma razão."          
          ]

[item for item in frases if item.count("é") > 1]

['O amor é um sono que chega para o pouco ser que se é.',
 'Todo o homem de ação é essencialmente animado e otimista porque quem não sente é feliz.',
 'O esforço é grande e o homem é pequeno.']

Converter itens de uma lista para float.

In [ ]:
list = ['1', '2', '3', '4', '5']

[float(i) for i in list if i > ' 3']

[1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

Map

In [ ]:
lista_qq =[1,2,3,4,5,6,7,8,9,10,11]

def f_impar(num):
  if num%2 > 0:
    return True
  else:
    return False

for i in lista_qq:
  print(i)
  #print(f_impar(i))

m = [res for res in map(f_impar,  lista_qq)]
print(m)


#listcomprehension para converter para lista
a = [chr(i) for i in [70,50,10,96, 13]]
print(a)

1
2
3
4
5
6
7
8
9
10
11
[True, False, True, False, True, False, True, False, True, False, True]
['F', '2', '\n', '`', '\r']

Função Filter

In [ ]:
frases = [
          "Tenho em mim todos os sonhos do mundo.",
          "Somos do tamanho de nossos sonhos.",
          "O coração se pudesse pensar pararia.",
          "O amor é um sono que chega para o pouco ser que se é.",
          "Ler é sonhar pela mão de outrem.",
          "Todo o homem de ação é essencialmente animado e otimista porque quem não sente é feliz.",
          "O esforço é grande e o homem é pequeno.",
          "Minha alma está cansada da minha vida.",
          "Nenhum livro para crianças deve ser escrito para crianças.",
          "Quanto mais fundamente penso, mais profundamente me descompreendo.",
          "Tudo o que chega, chega sempre por alguma razão."          
          ]

def count_words(palavra):
  return palavra.count("razão") >= 1

#list(filter(count_words, frases))

m = [palavras  for palavras in map(count_words,  frases)]
m

[False, False, False, False, False, False, False, False, False, False, True]

set - conjuntos não duplicados

In [ ]:
lista_duplicada = [27,33,1,3,6,7,8,9,3,4,5,6,4,3,21,1,8,6,5,4,7]

lista_sem_duplicatas = set(lista_duplicada)
lista_sem_duplicatas

{1, 3, 4, 5, 6, 7, 8, 9, 21, 27, 33}

funcao reduce com lambda

In [1]:
from functools import reduce

soma = reduce((lambda x,y: x+y), range(9000000))
soma

40499995500000

Determinar o maior numero da lista ou menor

In [ ]:
from functools import reduce
lista_geral = [1,55,66,8,7,989,56,345,800,2043]

reduce(lambda a, b: a if a>b else b, lista_geral)

2043

Listas

In [ ]:
listas= [[1,2,3], [7,4,5], [33,412,6,7,8]]
a = listas[1][0]
print(a)

b = listas[2][1]
print(b)

lista_geral = [1,55,66,8,7,989,56,345,800,2043]

print(7 in lista_geral)

lista_geral.append(10)

print(lista_geral)

max(lista_geral)


print('\n')
#lista com string, tupla, dicionario e float
print('lista com string, tupla, dicionario e float: \n'.capitalize())
lst = ['String1', (90, 92), {'k1':'v1', 'k2':'v2'}, 99.98]
print(lst)

7
412
True
[1, 55, 66, 8, 7, 989, 56, 345, 800, 2043, 10]


Lista com string, tupla, dicionario e float:

['String1', (90, 92), {'k1': 'v1', 'k2': 'v2'}, 99.98]

Dicionario

In [ ]:
estudantes = {'pedro':19, 'josue':34, 'sardinha':25, 'marialva':36, 'rafael':12}
print(len(estudantes))

print(estudantes.keys())
print(estudantes.values())



print(estudantes.items())

estudantes2 = {'suse':25, 'diarora':77, 'vera':87}
print(estudantes2)

estudantes2.update(estudantes)

print('\ndicionario append')

#adicionando um item ao dicionario
estudantes2['marilda']= 28
print(estudantes2)

dic_combustivel = {'gasolina':1 , 'diesel':2, 'alcool':3, 'gas':[4,8]}

print(dic_combustivel)

5
dict_keys(['pedro', 'josue', 'sardinha', 'marialva', 'rafael'])
dict_values([19, 34, 25, 36, 12])
dict_items([('pedro', 19), ('josue', 34), ('sardinha', 25), ('marialva', 36), ('rafael', 12)])
{'suse': 25, 'diarora': 77, 'vera': 87}

dicionario append
{'suse': 25, 'diarora': 77, 'vera': 87, 'pedro': 19, 'josue': 34, 'sardinha': 25, 'marialva': 36, 'rafael': 12, 'marilda': 28}
{'gasolina': 1, 'diesel': 2, 'alcool': 3, 'gas': [4, 8]}

Tuplas sao imutaveis

In [ ]:
tupla1 = ('cadarço', 77, "Leão")

print(tupla1)

print(tupla1[0])

tupla1[:2]

tupla1.index(77)

#converter tupla para lista:
lista = list(tupla1)
print(lista)

##contagem quantas vezes aparecem o numero 4:
t2 = (1, 2, 2, 3, 4, 4, 4, 5)
print(t2.count(4))

('cadarço', 77, 'Leão')
cadarço
['cadarço', 77, 'Leão']
3

for instruction

In [3]:
for i in "python":
    if i == "h":
      continue
    print(i)

p
y
t
o
n

In [ ]:
a = 0
while a < 5:
  a+= 1
  print(a)

In [5]:
lista = ['abacate', 'melancia', 'mamao', 'laranja']
tamanho = len(lista)
for i in range(0, tamanho):
  print(lista[i])

abacate
melancia
mamao
laranja