<a href="https://colab.research.google.com/github/ACRainieri/pyspark/blob/main/funcoes_spark_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Encontrando o último caracter da palavra.

In [ ]:


result = lambda n: n**2

result(9)

ultimo_reg = lambda s: s[-1]

ultimo_reg("VAGAS_WA")

'A'

In [ ]:
#verificar par ou impar
impar = lambda i: i%2 > 0

impar(4)

False

In [ ]:
result = lambda x: x> 10

result(11)

True

In [ ]:
lista = [1,3,6,4,8,23,2]

r = lambda dobro: dobro * 2

r(lista)

[1, 3, 6, 4, 8, 23, 2, 1, 3, 6, 4, 8, 23, 2]

In [ ]:
r=lambda x, y: x+y
r(2,5)

7

Ordenando Inversamente - Inverse Order

In [ ]:
ordem_inversa = lambda i: i [::-1]
ordem_inversa("escrevendo ao contratio")

'oitartnoc oa odnevercse'

In [ ]:
lista=[1,2,3,4,5,6,7,8,9,10, 37]
print(lista)
type(lista)

lst =[]

for i in lista:
  n = i * 2
  lst.append(n)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 37]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 74]

List Comprehencion - elevando ao quadrado todos os itens de uma lista ao quadrado

In [ ]:
l = [item ** 2 for item in lista]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 1369]

Contando palavras com List Comprehension

In [ ]:
frases = [
          "Tenho em mim todos os sonhos do mundo.",
          "Somos do tamanho de nossos sonhos.",
          "O coração se pudesse pensar pararia.",
          "O amor é um sono que chega para o pouco ser que se é.",
          "Ler é sonhar pela mão de outrem.",
          "Todo o homem de ação é essencialmente animado e otimista porque quem não sente é feliz.",
          "O esforço é grande e o homem é pequeno.",
          "Minha alma está cansada da minha vida.",
          "Nenhum livro para crianças deve ser escrito para crianças.",
          "Quanto mais fundamente penso, mais profundamente me descompreendo.",
          "Tudo o que chega, chega sempre por alguma razão."          
          ]

[item for item in frases if item.count("é") > 1]

['O amor é um sono que chega para o pouco ser que se é.',
 'Todo o homem de ação é essencialmente animado e otimista porque quem não sente é feliz.',
 'O esforço é grande e o homem é pequeno.']

Converter itens de uma lista para float.

In [ ]:
list = ['1', '2', '3', '4', '5']

[float(i) for i in list if i > ' 3']

[1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

Map

In [ ]:
lista_qq =[1,2,3,4,5,6,7,8,9,10,11]

def f_impar(num):
  if num%2 > 0:
    return True
  else:
    return False

for i in lista_qq:
  print(i)
  #print(f_impar(i))

m = [res for res in map(f_impar,  lista_qq)]
print(m)


#listcomprehension para converter para lista
a = [chr(i) for i in [70,50,10,96, 13]]
print(a)

1
2
3
4
5
6
7
8
9
10
11
[True, False, True, False, True, False, True, False, True, False, True]
['F', '2', '\n', '`', '\r']

Função Filter

In [ ]:
frases = [
          "Tenho em mim todos os sonhos do mundo.",
          "Somos do tamanho de nossos sonhos.",
          "O coração se pudesse pensar pararia.",
          "O amor é um sono que chega para o pouco ser que se é.",
          "Ler é sonhar pela mão de outrem.",
          "Todo o homem de ação é essencialmente animado e otimista porque quem não sente é feliz.",
          "O esforço é grande e o homem é pequeno.",
          "Minha alma está cansada da minha vida.",
          "Nenhum livro para crianças deve ser escrito para crianças.",
          "Quanto mais fundamente penso, mais profundamente me descompreendo.",
          "Tudo o que chega, chega sempre por alguma razão."          
          ]

def count_words(palavra):
  return palavra.count("razão") >= 1

#list(filter(count_words, frases))

m = [palavras  for palavras in map(count_words,  frases)]
m

[False, False, False, False, False, False, False, False, False, False, True]

set - conjuntos não duplicados

In [ ]:
lista_duplicada = [27,33,1,3,6,7,8,9,3,4,5,6,4,3,21,1,8,6,5,4,7]

lista_sem_duplicatas = set(lista_duplicada)
lista_sem_duplicatas

{1, 3, 4, 5, 6, 7, 8, 9, 21, 27, 33}

funcao reduce com lambda

In [ ]:
from functools import reduce

soma = reduce((lambda x,y: x+y), range(9000000))
soma

40499995500000

Determinar o maior numero da lista ou menor

In [ ]:
from functools import reduce
lista_geral = [1,55,66,8,7,989,56,345,800,2043]

reduce(lambda a, b: a if a>b else b, lista_geral)

2043

Listas

In [ ]:
listas= [[1,2,3], [7,4,5], [33,412,6,7,8]]
a = listas[1][0]
print(a)

b = listas[2][1]
print(b)

lista_geral = [1,55,66,8,7,989,56,345,800,2043]

print(7 in lista_geral)

lista_geral.append(10)

print(lista_geral)

max(lista_geral)


print('\n')
#lista com string, tupla, dicionario e float
print('lista com string, tupla, dicionario e float: \n'.capitalize())
lst = ['String1', (90, 92), {'k1':'v1', 'k2':'v2'}, 99.98]
print(lst)

7
412
True
[1, 55, 66, 8, 7, 989, 56, 345, 800, 2043, 10]


Lista com string, tupla, dicionario e float:

['String1', (90, 92), {'k1': 'v1', 'k2': 'v2'}, 99.98]

Dicionario

In [ ]:
estudantes = {'pedro':19, 'josue':34, 'sardinha':25, 'marialva':36, 'rafael':12}
print(len(estudantes))

print(estudantes.keys())
print(estudantes.values())



print(estudantes.items())

estudantes2 = {'suse':25, 'diarora':77, 'vera':87}
print(estudantes2)

estudantes2.update(estudantes)

print('\ndicionario append')

#adicionando um item ao dicionario
estudantes2['marilda']= 28
print(estudantes2)

dic_combustivel = {'gasolina':1 , 'diesel':2, 'alcool':3, 'gas':[4,8]}

print(dic_combustivel)

5
dict_keys(['pedro', 'josue', 'sardinha', 'marialva', 'rafael'])
dict_values([19, 34, 25, 36, 12])
dict_items([('pedro', 19), ('josue', 34), ('sardinha', 25), ('marialva', 36), ('rafael', 12)])
{'suse': 25, 'diarora': 77, 'vera': 87}

dicionario append
{'suse': 25, 'diarora': 77, 'vera': 87, 'pedro': 19, 'josue': 34, 'sardinha': 25, 'marialva': 36, 'rafael': 12, 'marilda': 28}
{'gasolina': 1, 'diesel': 2, 'alcool': 3, 'gas': [4, 8]}

Tuplas sao imutaveis

In [ ]:
tupla1 = ('cadarço', 77, "Leão")

print(tupla1)

print(tupla1[0])

tupla1[:2]

tupla1.index(77)

#converter tupla para lista:
lista = list(tupla1)
print(lista)

##contagem quantas vezes aparecem o numero 4:
t2 = (1, 2, 2, 3, 4, 4, 4, 5)
print(t2.count(4))

('cadarço', 77, 'Leão')
cadarço
['cadarço', 77, 'Leão']
3

for instruction

In [ ]:
for i in "python":
    if i == "h":
      continue
    print(i)

p
y
t
o
n

In [ ]:
a = 0
while a < 5:
  a+= 1
  print(a)

In [ ]:
lista = ['abacate', 'melancia', 'mamao', 'laranja']
tamanho = len(lista)
for i in range(0, tamanho):
  print(lista[i])


dir(print)

Funcao com numero de argumento variavel:

In [ ]:
def varInfo(arg, *vartuple):
  
  for item in vartuple:
    print(item)

varInfo('colmeia', 'abelha1', 'abelha2', 'abelha3', 'abelha4')

varInfo('colmeia')


p = lambda x : x%2 ==0
print(p(3))

primeiraPosicao = lambda s: s[0]
primeiraPosicao('x-burguer')

Lambda - Convert Celsius para Fahrenheit

In [ ]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(lambda x: (float(9)/5)*x + 32, Celsius)
print (list(Fahrenheit))

In [ ]:
temperatura = 40  
while temperatura > 35: 
    print(temperatura)
    temperatura = temperatura - 1


#Qual o resultado do código abaixo:
listaB = [32,53,85,10,15,17,19]
soma = 0
for i in listaB:
    double_i = i * 2
    soma += double_i

print(soma)

Leitura de arquivo:

In [ ]:
arq1 =  open("/content/drive/MyDrive/TI/codigos/dados/filmes_name.basics.txt", "r")

print("\n.........................")
print(arq1.read(25))
arq1.seek(1,0)
print("\n.........................")

print(arq1.read())

arq1.tell()

Exemplo Pandas:

In [ ]:
import pandas as pd

file_name = "/content/drive/MyDrive/TI/codigos/dados/filmes_principals.csv"
df = pd.read_csv(file_name)

df.head()

Gravar em arquivo no Google Drive

In [ ]:
texto = "Cientista de dados esta crescendo demais\n"
texto += "Esses profissionais precisam aprener a programar, estatistica e Machine Learning\n"
texto += "e tambem Big Data\n"

import os

arquivo = open(os.path.join("/content/sample_data/gravado_via_python_no_drive.txt"), "w")
arq_g_drive = open(os.path.join("/content/drive/MyDrive/TI/codigos/dados/dados_g_drive_externo.txt"), "w")

for palavra in texto.split():
  arq_g_drive.write(palavra + ' ')

arq_g_drive.close()

In [ ]:
arq_g_drive = open("/content/drive/MyDrive/TI/codigos/dados/dados_g_drive_externo.txt", "r")
conteudo = arq_g_drive.read()
arq_g_drive.close()

print(conteudo)

Cientista de dados esta crescendo demais Esses profissionais precisam aprener a programar, estatistica e Machine Learning e tambem Big Data

Dicionario:

In [ ]:
dict = {
        'nome':'Guido Van Hossum',
    'linguagem':'Python',
    'similar' : ['C','modula-3','lisp'],
    'users':1000000
}

for k, v in dict.items():
  print(k,v)

nome Guido Van Hossum
linguagem Python
similar ['C', 'modula-3', 'lisp']
users 1000000

In [ ]:
import json

json.dumps(dict)

'{"nome": "Guido Van Hossum", "linguagem": "Python", "similar": ["C", "modula-3", "lisp"], "users": 1000000}'

Funcao Map - recebe uma funcao como parametro e uma lista ou sequencia.

In [ ]:
def fahrenheit(T):
  return ((float(9/5)*T+32))


def celsius(T):
  return (float(5/9)* (T-32))    

temperaturas = [0, 22.5, 40, 100]

list(map(fahrenheit, temperaturas))


#Pode-se criar com lambda
list(map(lambda x: (5/9) * (x-32), temperaturas))

[57.6, 98.10000000000001, 129.6, 237.6]

Somando elementos de listas

In [ ]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]
c = [2, 3, 4, 5]

soma = list(map(lambda a, b, c: a+b+c, a, b, c))
print(soma)

[8, 11, 14, 17]

Funcao Reduce

In [ ]:
from functools import reduce

def soma(a, b):
  return a + b

lista = [1111, 2, 45,3, 4, 5, 10]

reduce(soma, lista)

1180

Buscar o maior elemento de uma lista:

In [ ]:

reduce(lambda a, b: a+b, lista)

resultado_de_busca = lambda a, b: a if (a > b) else b

reduce(resultado_de_busca, lista)

1111

Funcao Filter:

In [ ]:
def verificaNumeroPar(num):
  if num % 2 == 0:
    return True
  else:
    return False


verificaNumeroPar(6)
lista = [1,2,3,4,5,6,7,8,9,10,11,12,13,14] 

list(filter(verificaNumeroPar, lista))

list(filter((lambda x: x > 5), lista))

[6, 7, 8, 9, 10, 11, 12, 13, 14]

List Comprehension exemplos:

In [ ]:
#retorna sequencia de elementos da string
lst = [x for x in 'python']

print(lst)

type(lst)

#Retorna o quadrado de cada elemento da sequence
lst = [x**2 for x in range(0, 10)]
lst


#Retorna o quadrado de cada elemento da sequence
lst = [x**2 for x in range(0, 10) if x%2 ==0]
lst

celsius = [0, 10, 25, 40, 100]
fahrenheit = [ (( float(9)/5) * temp ) + 32 for temp in celsius]

fahrenheit

['p', 'y', 't', 'h', 'o', 'n']

[32.0, 50.0, 77.0, 104.0, 212.0]

Funcao Zip: Faz uniao de duas listas retornando em tupla

In [ ]:
x = [1,2,3]
y = [4,5,6,7]

list(zip(x,y))

list(zip('ABCD', "yx"))

[('A', 'y'), ('B', 'x')]

Funcao Enumerate: retorna o indice de uma sequencia

In [ ]:
l = ['a', 'b', 'c']

list(enumerate(l))


#Retorna o indice com o elemento.
lista = ['agua', 'ar', 'terra', 'fogo']

for i, j in enumerate(lista):
  print(i,j)

print("\n_________________________________\n")

for i, j in enumerate("Isso e uma string"):
  print(i,j)

Tratamento de erros:

In [ ]:
from typing_extensions import final
def ask_int():
  while True:
    try:
      val = int(input('Digite um número.'))
    except: 
      print('Vc não digitou um número')
      continue
      #val = int(input('Tente novamente Zeruela.'))
    else:
      print('Obrigado por digitar um número.')
      break
    finally:
      print('Fim da Execução!')


ask_int()

Tratamentod e erro e exceções:

In [ ]:
tuple(1,2,3,4,5)

try:
  typle.append(6)
except AttributeError as err:
  print(err)

Testes com Unicode:

In [ ]:
uni = u'\u001a\u0bc3\u1451\U0001d10c'

print(repr(uni))

binary = uni.encode("utf-8")

#print(repr(uni))
print(binary)


# Define nossa string Unicode
uni = u"Hello\u001A\u0BC3\u1451\U0001D10CUnicode"

# UTF-8 e UTF-16 podem codificar completamente qualquer string Unicode
print ("UTF-8", repr(uni.encode('utf-8')))
print ("UTF-16", repr(uni.encode('utf-16')))

# ASCII pode apenas codificar valore entre 0-127. Abaixo, dizemos ao Python
# para trocar caracteres que não podem ser codificados por '?'
print ("ASCII", uni.encode('ascii','replace'))

# ISO-8859-1 é similar ao ASCII
print ("ISO-8859-1",uni.encode('iso-8859-1','replace'))

Definição de classe:

In [ ]:
class Livro():
  def __init__(self):

    self.titulo = "Os Segredos da Mente Milionaria"
    self.isbn = "82347347342"
    print("Metodo __init__() é o Construtor da classe.")


  def imprime(self):
    print("Metodo imprime() dentro da classe.")

In [ ]:
Livro1 = Livro();

print("\n"+Livro1.titulo);

print(Livro1.imprime());

In [ ]:
class Livro():
  def __init__(self, nome, isbn):
    self.titulo = nome
    self.isbn = isbn
    print("Construtor...")

  def imprime(self, nome, isbn):
    print("Este é o livro s% e ISBN = %d")

In [ ]:
Livro3 = Livro("A menina que roubava livros.", 958575)
print(Livro3)

print(Livro3.titulo)

Construtor...
<__main__.Livro object at 0x7fd9f7ab9610>
A menina que roubava livros.

Classe e metodos:

In [ ]:
class Circulo():

  pi = 3,14
  # Quando for instanciado esse metodo sera executado com valor de raio = 5. Construtor com valor default.
  def __init__(self, raio=5):
    self.raio = raio
  
  # Self usa os atributos desse mesmo objeto - Circulo.
  def area(self):
    return (self.raio * self.raio) * Circulo.pi

  # Metodo para gerar um novo raio  
  def setRaio(self, novo_raio):
    self.raio = novo_raio

  # Metodo para obter o raio do circulo.
  def getRaio(self):
    return self.raio

Heranca em Python:

Metodos Especiais:

In [ ]:
class Livro():
  def __init__(self, titulo, autor, paginas):
    print("Livro Criado")
    self.titulo = titulo
    self.autor = autor
    self.paginas = paginas
  
  def __str__(self):
    return "Titulo %s, autor %s, paginas %s" %(self.titulo, self.autor, self.paginas)

  def __len__(self):
    return self.paginas

  def len(self):
    return print("Pagina do livro com metodo comum: ", self.paginas)

In [ ]:
livro1  = Livro("Os Lusiadas", "Camões", 317)

Livro Criado

In [ ]:
print(livro1)

Titulo Os Lusiadas, autor Camões, paginas 317

In [ ]:
str(livro1)

'Titulo Os Lusiadas, autor Camões, paginas 317'

In [ ]:
len(livro1)

317

Jogo da Forca - Hangman

In [ ]:
class Palavras():
  def __init__(self):

DB connection

In [5]:
import sqlite3 
 
conn = sqlite3.connect('db_lite.db')

type(conn)

cursor = conn.cursor()

sqlite3.Connection

In [ ]:
conn.execute('''
CREATE TABLE Cursos (
   id INTEGER PRIMARY KEY NOT NULL,
   titulo NVARCHAR NOT NULL ,
   categoria REAL NOT NULL 
 );''')