<a href="https://colab.research.google.com/github/ACRainieri/pyspark/blob/main/Mini_projeto_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q imdb-sqlite
!pip install -q pycountry

     |████████████████████████████████| 10.1 MB 6.0 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
  Building wheel for pycountry (PEP 517) ... done

In [ ]:
import re
import time
import sqlite3
import pycountry
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import cm
from sklearn.feature_extraction.text import CountVectorizer
import warnings 

warnings.filterwarnings('ignore')
sns.set_theme(style= 'whitegrid')

In [ ]:
%%time
!imdb-sqlite

2022-09-09 19:13:26,282 GET https://datasets.imdbws.com/name.basics.tsv.gz -> downloads/name.basics.tsv.gz
2022-09-09 19:13:31,686 GET https://datasets.imdbws.com/title.basics.tsv.gz -> downloads/title.basics.tsv.gz
2022-09-09 19:13:35,324 GET https://datasets.imdbws.com/title.akas.tsv.gz -> downloads/title.akas.tsv.gz
2022-09-09 19:13:37,933 GET https://datasets.imdbws.com/title.principals.tsv.gz -> downloads/title.principals.tsv.gz
2022-09-09 19:13:47,164 GET https://datasets.imdbws.com/title.episode.tsv.gz -> downloads/title.episode.tsv.gz
2022-09-09 19:13:47,590 GET https://datasets.imdbws.com/title.ratings.tsv.gz -> downloads/title.ratings.tsv.gz
2022-09-09 19:13:47,866 Populating database: imdb.db
2022-09-09 19:13:47,867 Applying schema
2022-09-09 19:13:47,868 Importing file: downloads/name.basics.tsv.gz
2022-09-09 19:13:47,868 Reading number of rows ...
2022-09-09 19:13:54,300 Inserting rows into table: people
100% 11914965/11914965 [02:12<00:00, 89994.52 rows/s]
2022-09-09 19:16:06,708 Importing file: downloads/title.basics.tsv.gz
2022-09-09 19:16:06,708 Reading number of rows ...
2022-09-09 19:16:11,963 Inserting rows into table: titles
100% 9214174/9214174 [02:08<00:00, 71720.24 rows/s]
2022-09-09 19:18:20,441 Importing file: downloads/title.akas.tsv.gz
2022-09-09 19:18:20,441 Reading number of rows ...
2022-09-09 19:18:30,211 Inserting rows into table: akas
100% 33189309/33189309 [06:30<00:00, 84992.35 rows/s]
2022-09-09 19:25:00,716 Importing file: downloads/title.principals.tsv.gz
2022-09-09 19:25:00,717 Reading number of rows ...
2022-09-09 19:25:15,905 Inserting rows into table: crew
100% 51994365/51994365 [07:45<00:00, 111703.05 rows/s]
2022-09-09 19:33:01,380 Importing file: downloads/title.episode.tsv.gz
2022-09-09 19:33:01,380 Reading number of rows ...
2022-09-09 19:33:02,669 Inserting rows into table: episodes
100% 6943030/6943030 [00:48<00:00, 144226.59 rows/s]
2022-09-09 19:33:50,812 Importing file: downloads/title.ratings.tsv.gz
2022-09-09 19:33:50,812 Reading number of rows ...
2022-09-09 19:33:51,005 Inserting rows into table: ratings
100% 1258954/1258954 [00:09<00:00, 138025.14 rows/s]
2022-09-09 19:34:00,130 Creating table indices ...
2022-09-09 19:37:22,233 Import successful
CPU times: user 23.4 s, sys: 2.97 s, total: 26.4 s
Wall time: 23min 56s

In [2]:
conn = sqlite3.connect('imdb.db')

NameError: ignored

In [ ]:
tabelas = pd.read_sql_query("SELECT NAME as 'Table_Name' FROM sqlite_master WHERE type = 'table'", conn)

tabelas.head()  
tabelas.Table_Name

0      people
1      titles
2        akas
3        crew
4    episodes
5     ratings
Name: Table_Name, dtype: object

In [1]:
tabelas = tabelas["Table_Name"].values.tolist()
tabelas

NameError: ignored

In [ ]:
for tabela in tabelas:
  #consulta = "PRAGMA_TABLE_INFO({})".format(tabela)
  consulta = 'PRAGMA table_info(' + tabela +')'
  resultado = pd.read_sql_query(consulta, conn)
  print("Esquema da Tabela: "+ tabela)
  display(resultado)

Ajustando um Dataset, agrupando em outros os valores menores de cinco porcento o restante da lista.

In [ ]:
consulta1 = '''SELECT type, COUNT(*) as COUNT FROM titles group by type'''
resultado1 = pd.read_sql_query(consulta1, conn)

resultado1['percentual'] = (resultado1['COUNT'] / resultado1['COUNT'].sum()) * 100

others = {}

others['COUNT'] = resultado1[resultado1['percentual'] < 5] ['percentual'].sum()

others['type'] = 'others'

#display(resultado1)
display(others)

#filtra o dataframe de resultado
resultado1 = resultado1[resultado1['percentual'] > 5]

display(resultado1)

resultado1 = resultado1.append(others, ignore_index=True)

labels = [str(resultado1['type'][i]) + ' '+'['+ str(round(resultado1['percentual'][i], 2)) + '%'+']' for i in resultado1.index]

#Mapa de cores
cs = cm.Set3(np.arange(100))

#Criar figura
f = plt.figure()

plt.pie(resultado1['COUNT'], labeldistance=1, radius=3, colors=cs, wedgeprops=dict(width=0.8))
plt.legend(labels = labels, loc = 'center', prop = {'size':12})

NameError: ignored