<a href="https://colab.research.google.com/github/ACRainieri/pyspark/blob/main/Mini_projeto_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install -q imdb-sqlite
!pip install -q pycountry

     |████████████████████████████████| 10.1 MB 11.5 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
  Building wheel for pycountry (PEP 517) ... done

In [4]:
import re
import time
import sqlite3
import pycountry
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import cm
from sklearn.feature_extraction.text import CountVectorizer
import warnings 

warnings.filterwarnings('ignore')
sns.set_theme(style= 'whitegrid')

In [5]:
%%time
!imdb-sqlite

2022-09-09 13:12:00,883 GET https://datasets.imdbws.com/name.basics.tsv.gz -> downloads/name.basics.tsv.gz
2022-09-09 13:12:01,820 GET https://datasets.imdbws.com/title.basics.tsv.gz -> downloads/title.basics.tsv.gz
2022-09-09 13:12:02,575 GET https://datasets.imdbws.com/title.akas.tsv.gz -> downloads/title.akas.tsv.gz
2022-09-09 13:12:03,901 GET https://datasets.imdbws.com/title.principals.tsv.gz -> downloads/title.principals.tsv.gz
2022-09-09 13:12:05,569 GET https://datasets.imdbws.com/title.episode.tsv.gz -> downloads/title.episode.tsv.gz
2022-09-09 13:12:05,770 GET https://datasets.imdbws.com/title.ratings.tsv.gz -> downloads/title.ratings.tsv.gz
2022-09-09 13:12:05,916 Populating database: imdb.db
2022-09-09 13:12:05,917 Applying schema
2022-09-09 13:12:05,918 Importing file: downloads/name.basics.tsv.gz
2022-09-09 13:12:05,918 Reading number of rows ...
2022-09-09 13:12:12,232 Inserting rows into table: people
100% 11912473/11912473 [02:14<00:00, 88318.87 rows/s]
2022-09-09 13:14:27,124 Importing file: downloads/title.basics.tsv.gz
2022-09-09 13:14:27,124 Reading number of rows ...
2022-09-09 13:14:32,635 Inserting rows into table: titles
100% 9211717/9211717 [02:06<00:00, 72642.85 rows/s]
2022-09-09 13:16:39,446 Importing file: downloads/title.akas.tsv.gz
2022-09-09 13:16:39,447 Reading number of rows ...
2022-09-09 13:16:49,089 Inserting rows into table: akas
100% 33189309/33189309 [06:17<00:00, 87948.09 rows/s]
2022-09-09 13:23:06,467 Importing file: downloads/title.principals.tsv.gz
2022-09-09 13:23:06,468 Reading number of rows ...
2022-09-09 13:23:21,945 Inserting rows into table: crew
100% 51977291/51977291 [07:38<00:00, 113289.15 rows/s]
2022-09-09 13:31:00,750 Importing file: downloads/title.episode.tsv.gz
2022-09-09 13:31:00,751 Reading number of rows ...
2022-09-09 13:31:02,032 Inserting rows into table: episodes
100% 6943030/6943030 [00:48<00:00, 143661.88 rows/s]
2022-09-09 13:31:50,364 Importing file: downloads/title.ratings.tsv.gz
2022-09-09 13:31:50,364 Reading number of rows ...
2022-09-09 13:31:50,554 Inserting rows into table: ratings
100% 1258954/1258954 [00:09<00:00, 128981.11 rows/s]
2022-09-09 13:32:00,318 Creating table indices ...
2022-09-09 13:35:36,371 Import successful
CPU times: user 23.5 s, sys: 2.76 s, total: 26.2 s
Wall time: 23min 35s

In [6]:
conn = sqlite3.connect('imdb.db')

In [7]:
tabelas = pd.read_sql_query("SELECT NAME as 'Table_Name' FROM sqlite_master WHERE type = 'table'", conn)

tabelas.head()  
tabelas.Table_Name

0      people
1      titles
2        akas
3        crew
4    episodes
5     ratings
Name: Table_Name, dtype: object

In [8]:
tabelas = tabelas["Table_Name"].values.tolist()
tabelas

['people', 'titles', 'akas', 'crew', 'episodes', 'ratings']

In [9]:
for tabela in tabelas:
  #consulta = "PRAGMA_TABLE_INFO({})".format(tabela)
  consulta = 'PRAGMA table_info(' + tabela +')'
  resultado = pd.read_sql_query(consulta, conn)
  print("Esquema da Tabela: "+ tabela)
  display(resultado)

Esquema da Tabela: people

   cid       name     type  notnull dflt_value  pk
0    0  person_id  VARCHAR        0       None   1
1    1       name  VARCHAR        0       None   0
2    2       born  INTEGER        0       None   0
3    3       died  INTEGER        0       None   0

Esquema da Tabela: titles

   cid             name     type  notnull dflt_value  pk
0    0         title_id  VARCHAR        0       None   1
1    1             type  VARCHAR        0       None   0
2    2    primary_title  VARCHAR        0       None   0
3    3   original_title  VARCHAR        0       None   0
4    4         is_adult  INTEGER        0       None   0
5    5        premiered  INTEGER        0       None   0
6    6            ended  INTEGER        0       None   0
7    7  runtime_minutes  INTEGER        0       None   0
8    8           genres  VARCHAR        0       None   0

Esquema da Tabela: akas

   cid               name     type  notnull dflt_value  pk
0    0           title_id  VARCHAR        0       None   0
1    1              title  VARCHAR        0       None   0
2    2             region  VARCHAR        0       None   0
3    3           language  VARCHAR        0       None   0
4    4              types  VARCHAR        0       None   0
5    5         attributes  VARCHAR        0       None   0
6    6  is_original_title  INTEGER        0       None   0

Esquema da Tabela: crew

   cid        name     type  notnull dflt_value  pk
0    0    title_id  VARCHAR        0       None   0
1    1   person_id  VARCHAR        0       None   0
2    2    category  VARCHAR        0       None   0
3    3         job  VARCHAR        0       None   0
4    4  characters  VARCHAR        0       None   0

Esquema da Tabela: episodes

   cid              name     type  notnull dflt_value  pk
0    0  episode_title_id  INTEGER        0       None   0
1    1     show_title_id  INTEGER        0       None   0
2    2     season_number  INTEGER        0       None   0
3    3    eposide_number  INTEGER        0       None   0

Esquema da Tabela: ratings

   cid      name     type  notnull dflt_value  pk
0    0  title_id  VARCHAR        0       None   1
1    1    rating  INTEGER        0       None   0
2    2     votes  INTEGER        0       None   0

In [86]:
consulta1 = '''SELECT type, COUNT(*) as COUNT FROM titles group by type'''
resultado1 = pd.read_sql_query(consulta1, conn)

#display(resultado1)

resultado1['percentual'] = (resultado1['COUNT'] / resultado1['COUNT'].sum()) * 100

#display(resultado1)

others = {}

others['COUNT'] = resultado1[resultado1['percentual'] < 5] ['percentual'].sum()

others['type'] = 'others'

display(resultado1)
display(others)

#filtra o dataframe de resultado
resultado1 = [resultado1['percentual'] > 5]

display(resultado1)

resultado1 = resultado1.append(others)
print(resultado1)

            type    COUNT  percentual
0          movie   620719    6.738364
1          short   888276    9.642893
2      tvEpisode  6943363   75.375340
3   tvMiniSeries    45041    0.488953
4        tvMovie   137511    1.492784
5        tvPilot        2    0.000022
6       tvSeries   230741    2.504864
7        tvShort    10660    0.115722
8      tvSpecial    38212    0.414820
9          video   265067    2.877498
10     videoGame    32125    0.348741

{'COUNT': 8.243403482760055, 'type': 'others'}

[0      True
 1      True
 2      True
 3     False
 4     False
 5     False
 6     False
 7     False
 8     False
 9     False
 10    False
 Name: percentual, dtype: bool]

None

Criar um grafico com apenas 4 categorias