<a href="https://colab.research.google.com/github/ACRainieri/pyspark/blob/main/Mini_projeto_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q imdb-sqlite
!pip install -q pycountry

In [ ]:
import re
import time
import sqlite3
import pycountry
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import cm
from sklearn.feature_extraction.text import CountVectorizer
import warnings 

warnings.filterwarnings('ignore')
sns.set_theme(style= 'whitegrid')

In [ ]:
%%time
!imdb-sqlite

2022-09-13 13:35:21,345 GET https://datasets.imdbws.com/name.basics.tsv.gz -> downloads/name.basics.tsv.gz
2022-09-13 13:35:22,309 GET https://datasets.imdbws.com/title.basics.tsv.gz -> downloads/title.basics.tsv.gz
2022-09-13 13:35:22,935 GET https://datasets.imdbws.com/title.akas.tsv.gz -> downloads/title.akas.tsv.gz
2022-09-13 13:35:24,058 GET https://datasets.imdbws.com/title.principals.tsv.gz -> downloads/title.principals.tsv.gz
2022-09-13 13:35:25,668 GET https://datasets.imdbws.com/title.episode.tsv.gz -> downloads/title.episode.tsv.gz
2022-09-13 13:35:25,827 GET https://datasets.imdbws.com/title.ratings.tsv.gz -> downloads/title.ratings.tsv.gz
2022-09-13 13:35:25,893 Populating database: imdb.db
2022-09-13 13:35:25,893 Applying schema
2022-09-13 13:35:25,895 Importing file: downloads/name.basics.tsv.gz
2022-09-13 13:35:25,895 Reading number of rows ...
2022-09-13 13:35:32,304 Inserting rows into table: people
100% 11921620/11921620 [02:11<00:00, 90841.16 rows/s]
2022-09-13 13:37:43,550 Importing file: downloads/title.basics.tsv.gz
2022-09-13 13:37:43,551 Reading number of rows ...
2022-09-13 13:37:48,781 Inserting rows into table: titles
100% 9221340/9221340 [02:05<00:00, 73527.75 rows/s]
2022-09-13 13:39:54,197 Importing file: downloads/title.akas.tsv.gz
2022-09-13 13:39:54,198 Reading number of rows ...
2022-09-13 13:40:03,902 Inserting rows into table: akas
100% 33230360/33230360 [06:18<00:00, 87882.93 rows/s]
2022-09-13 13:46:22,029 Importing file: downloads/title.principals.tsv.gz
2022-09-13 13:46:22,030 Reading number of rows ...
2022-09-13 13:46:36,822 Inserting rows into table: crew
100% 52041813/52041813 [07:34<00:00, 114531.55 rows/s]
2022-09-13 13:54:11,215 Importing file: downloads/title.episode.tsv.gz
2022-09-13 13:54:11,216 Reading number of rows ...
2022-09-13 13:54:12,519 Inserting rows into table: episodes
100% 6951153/6951153 [00:49<00:00, 140345.42 rows/s]
2022-09-13 13:55:02,052 Importing file: downloads/title.ratings.tsv.gz
2022-09-13 13:55:02,053 Reading number of rows ...
2022-09-13 13:55:02,260 Inserting rows into table: ratings
100% 1260427/1260427 [00:10<00:00, 121593.84 rows/s]
2022-09-13 13:55:12,629 Creating table indices ...
2022-09-13 13:58:42,354 Import successful
CPU times: user 23.4 s, sys: 3.01 s, total: 26.4 s
Wall time: 23min 21s

In [ ]:
conn = sqlite3.connect('imdb.db')

In [ ]:
tabelas = pd.read_sql_query("SELECT NAME as 'Table_Name' FROM sqlite_master WHERE type = 'table'", conn)

tabelas.head()  
tabelas.Table_Name

0      people
1      titles
2        akas
3        crew
4    episodes
5     ratings
Name: Table_Name, dtype: object

In [ ]:
tabelas = tabelas["Table_Name"].values.tolist()
tabelas

['people', 'titles', 'akas', 'crew', 'episodes', 'ratings']

In [ ]:
for tabela in tabelas:
  #consulta = "PRAGMA_TABLE_INFO({})".format(tabela)
  consulta = 'PRAGMA table_info(' + tabela +')'
  resultado = pd.read_sql_query(consulta, conn)
  print("Esquema da Tabela: "+ tabela)
  display(resultado)

Esquema da Tabela: people

   cid       name     type  notnull dflt_value  pk
0    0  person_id  VARCHAR        0       None   1
1    1       name  VARCHAR        0       None   0
2    2       born  INTEGER        0       None   0
3    3       died  INTEGER        0       None   0

Esquema da Tabela: titles

   cid             name     type  notnull dflt_value  pk
0    0         title_id  VARCHAR        0       None   1
1    1             type  VARCHAR        0       None   0
2    2    primary_title  VARCHAR        0       None   0
3    3   original_title  VARCHAR        0       None   0
4    4         is_adult  INTEGER        0       None   0
5    5        premiered  INTEGER        0       None   0
6    6            ended  INTEGER        0       None   0
7    7  runtime_minutes  INTEGER        0       None   0
8    8           genres  VARCHAR        0       None   0

Esquema da Tabela: akas

   cid               name     type  notnull dflt_value  pk
0    0           title_id  VARCHAR        0       None   0
1    1              title  VARCHAR        0       None   0
2    2             region  VARCHAR        0       None   0
3    3           language  VARCHAR        0       None   0
4    4              types  VARCHAR        0       None   0
5    5         attributes  VARCHAR        0       None   0
6    6  is_original_title  INTEGER        0       None   0

Esquema da Tabela: crew

   cid        name     type  notnull dflt_value  pk
0    0    title_id  VARCHAR        0       None   0
1    1   person_id  VARCHAR        0       None   0
2    2    category  VARCHAR        0       None   0
3    3         job  VARCHAR        0       None   0
4    4  characters  VARCHAR        0       None   0

Esquema da Tabela: episodes

   cid              name     type  notnull dflt_value  pk
0    0  episode_title_id  INTEGER        0       None   0
1    1     show_title_id  INTEGER        0       None   0
2    2     season_number  INTEGER        0       None   0
3    3    eposide_number  INTEGER        0       None   0

Esquema da Tabela: ratings

   cid      name     type  notnull dflt_value  pk
0    0  title_id  VARCHAR        0       None   1
1    1    rating  INTEGER        0       None   0
2    2     votes  INTEGER        0       None   0

Ajustando um Dataset, agrupando em outros os valores menores de cinco porcento o restante da lista.

In [ ]:
consulta1 = '''SELECT type, COUNT(*) as COUNT FROM titles group by type'''
resultado1 = pd.read_sql_query(consulta1, conn)

resultado1['percentual'] = (resultado1['COUNT'] / resultado1['COUNT'].sum()) * 100

others = {}

others['COUNT'] = resultado1[resultado1['percentual'] < 5] ['percentual'].sum()

others['type'] = 'others'

#display(resultado1)
display(others)

#filtra o dataframe de resultado
resultado1 = resultado1[resultado1['percentual'] > 5]

display(resultado1)

resultado1 = resultado1.append(others, ignore_index=True)

labels = [str(resultado1['type'][i]) + ' '+'['+ str(round(resultado1['percentual'][i], 2)) + '%'+']' for i in resultado1.index]

#Mapa de cores
cs = cm.Set3(np.arange(100))

#Criar figura
f = plt.figure()

plt.pie(resultado1['COUNT'], labeldistance=1, radius=3, colors=cs, wedgeprops=dict(width=0.8))
plt.legend(labels = labels, loc = 'center', prop = {'size':12})

Calculando o numero de titulos por Generos:

In [ ]:
sql_consulta_genero = "SELECT genres, COUNT(*) FROM titles WHERE type = 'movie' GROUP BY genres"

resultado2 = pd.read_sql_query(sql_consulta_genero, conn)

display(resultado2)

                      genres  COUNT(*)
0                     Action     14186
1               Action,Adult        11
2     Action,Adult,Adventure         2
3        Action,Adult,Comedy         6
4         Action,Adult,Crime         9
...                      ...       ...
1461        Thriller,Western        43
1462                     War      1314
1463             War,Western        14
1464                 Western      5146
1465                      \N     71743

[1466 rows x 2 columns]

In [16]:
resultado2['genres'] = resultado2['genres'].str.lower().values

#Exclui valores sem genero
temp = resultado2['genres'].dropna()

display(temp)

padrao = '(?u)\b[\\w-]+\\b'

vetor = CountVectorizer(token_pattern = padrao, analyzer = 'word').fit(temp)

0                       action
1                 action,adult
2       action,adult,adventure
3          action,adult,comedy
4           action,adult,crime
                 ...
1461          thriller,western
1462                       war
1463               war,western
1464                   western
1465                        \n
Name: genres, Length: 1466, dtype: object

ValueError: ignored