<a href="https://colab.research.google.com/github/ACRainieri/pyspark/blob/main/Mini_projeto_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q imdb-sqlite

In [3]:
!pip install -q pycountry

In [8]:
import re
import time
import sqlite3
import pycountry
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import cm
from sklearn.feature_extraction.text import CountVectorizer
import warnings 

warnings.filterwarnings('ignore')
sns.set_theme(style= 'whitegrid')

In [13]:
%%time
!imdb-sqlite

2022-09-06 20:43:32,551 GET https://datasets.imdbws.com/name.basics.tsv.gz -> downloads/name.basics.tsv.gz
2022-09-06 20:43:34,374 GET https://datasets.imdbws.com/title.basics.tsv.gz -> downloads/title.basics.tsv.gz
2022-09-06 20:43:35,748 GET https://datasets.imdbws.com/title.akas.tsv.gz -> downloads/title.akas.tsv.gz
2022-09-06 20:43:40,897 GET https://datasets.imdbws.com/title.principals.tsv.gz -> downloads/title.principals.tsv.gz
2022-09-06 20:43:44,056 GET https://datasets.imdbws.com/title.episode.tsv.gz -> downloads/title.episode.tsv.gz
2022-09-06 20:43:45,080 GET https://datasets.imdbws.com/title.ratings.tsv.gz -> downloads/title.ratings.tsv.gz
2022-09-06 20:43:45,309 Populating database: imdb.db
2022-09-06 20:43:45,310 Applying schema
2022-09-06 20:43:45,311 Importing file: downloads/name.basics.tsv.gz
2022-09-06 20:43:45,311 Reading number of rows ...
2022-09-06 20:43:51,698 Inserting rows into table: people
100% 11904517/11904517 [02:11<00:00, 90265.98 rows/s]
2022-09-06 20:46:03,593 Importing file: downloads/title.basics.tsv.gz
2022-09-06 20:46:03,594 Reading number of rows ...
2022-09-06 20:46:09,066 Inserting rows into table: titles
100% 9204231/9204231 [02:15<00:00, 67706.64 rows/s]
2022-09-06 20:48:25,012 Importing file: downloads/title.akas.tsv.gz
2022-09-06 20:48:25,012 Reading number of rows ...
2022-09-06 20:48:34,736 Inserting rows into table: akas
100% 33164673/33164673 [06:30<00:00, 84883.25 rows/s]
2022-09-06 20:55:05,449 Importing file: downloads/title.principals.tsv.gz
2022-09-06 20:55:05,449 Reading number of rows ...
2022-09-06 20:55:21,382 Inserting rows into table: crew
100% 51932968/51932968 [07:21<00:00, 117548.47 rows/s]
2022-09-06 21:02:43,187 Importing file: downloads/title.episode.tsv.gz
2022-09-06 21:02:43,187 Reading number of rows ...
2022-09-06 21:02:44,447 Inserting rows into table: episodes
100% 6938716/6938716 [00:48<00:00, 143374.49 rows/s]
2022-09-06 21:03:32,846 Importing file: downloads/title.ratings.tsv.gz
2022-09-06 21:03:32,846 Reading number of rows ...
2022-09-06 21:03:33,033 Inserting rows into table: ratings
100% 1259148/1259148 [00:08<00:00, 145578.40 rows/s]
2022-09-06 21:03:41,685 Creating table indices ...
2022-09-06 21:07:24,588 Import successful
CPU times: user 24.7 s, sys: 2.81 s, total: 27.5 s
Wall time: 23min 52s

In [14]:
conn = sqlite3.connect('imdb.db')

In [47]:
tabelas = pd.read_sql_query("SELECT NAME as 'Table_Name' FROM sqlite_master WHERE type = 'table'", conn)

tabelas.head()  
tabelas.Table_Name

0      people
1      titles
2        akas
3        crew
4    episodes
5     ratings
Name: Table_Name, dtype: object

In [48]:
tabelas = tabelas["Table_Name"].values.tolist()
tabelas

['people', 'titles', 'akas', 'crew', 'episodes', 'ratings']

In [49]:
for tabela in tabelas:
  #consulta = "PRAGMA_TABLE_INFO({})".format(tabela)
  consulta = 'PRAGMA table_info(' + tabela +')'
  resultado = pd.read_sql_query(consulta, conn)
  print("Esquema da Tabela: "+ tabela)
  display(resultado)

Esquema da Tabela: people

   cid       name     type  notnull dflt_value  pk
0    0  person_id  VARCHAR        0       None   1
1    1       name  VARCHAR        0       None   0
2    2       born  INTEGER        0       None   0
3    3       died  INTEGER        0       None   0

Esquema da Tabela: titles

   cid             name     type  notnull dflt_value  pk
0    0         title_id  VARCHAR        0       None   1
1    1             type  VARCHAR        0       None   0
2    2    primary_title  VARCHAR        0       None   0
3    3   original_title  VARCHAR        0       None   0
4    4         is_adult  INTEGER        0       None   0
5    5        premiered  INTEGER        0       None   0
6    6            ended  INTEGER        0       None   0
7    7  runtime_minutes  INTEGER        0       None   0
8    8           genres  VARCHAR        0       None   0

Esquema da Tabela: akas

   cid               name     type  notnull dflt_value  pk
0    0           title_id  VARCHAR        0       None   0
1    1              title  VARCHAR        0       None   0
2    2             region  VARCHAR        0       None   0
3    3           language  VARCHAR        0       None   0
4    4              types  VARCHAR        0       None   0
5    5         attributes  VARCHAR        0       None   0
6    6  is_original_title  INTEGER        0       None   0

Esquema da Tabela: crew

   cid        name     type  notnull dflt_value  pk
0    0    title_id  VARCHAR        0       None   0
1    1   person_id  VARCHAR        0       None   0
2    2    category  VARCHAR        0       None   0
3    3         job  VARCHAR        0       None   0
4    4  characters  VARCHAR        0       None   0

Esquema da Tabela: episodes

   cid              name     type  notnull dflt_value  pk
0    0  episode_title_id  INTEGER        0       None   0
1    1     show_title_id  INTEGER        0       None   0
2    2     season_number  INTEGER        0       None   0
3    3    eposide_number  INTEGER        0       None   0

Esquema da Tabela: ratings

   cid      name     type  notnull dflt_value  pk
0    0  title_id  VARCHAR        0       None   1
1    1    rating  INTEGER        0       None   0
2    2     votes  INTEGER        0       None   0